footer{
    background-color: $color-13;

    .container{
        width:90%;
        margin:auto;
    }

    .footer-menu{
        li{
            padding:0.25rem;
            a{
                font-weight:bold;
                color:$color-12;
                font-size:1.25rem;
            }
        }
    }
    .social-icons{
        margin:3rem 0 1rem 0;
        i{
            color:$color-12;
            font-size:3rem;
            margin-right: 1rem;
        }
    }
    .footer-donate{
        padding:0.5rem 1rem;
        background-color: $color-12;
        color:black;
        // height:max-content;
        width:max-content;
        display:flex;
        margin-left:auto;
        margin-bottom:3rem;
        border-radius:10px;
        font-size:1.5rem;
        font-weight:bold;
    }
    .footer-logo{
        background-color: $color-12;
        padding:1rem;
        border-radius:10px;
        display:block;

        // display:flex;
        // margin-top:auto;
        // flex-direction: column;
    }
}