// MIN WIDTH
// MIN 450
@include MQ(S) {

}
// MIN 768 
@include MQ(M) {
	.header-layout{
		margin-bottom: 0 !important;
	}


}
// MIN 960 
@include MQ(L) {
	header{
		.header-layout{
			.header-logo-text{
				font-size:2vw !important;
				.header-logo-rugged{
					font-size:3.2vw !important;
				}
			}
		}
	}

}

////////////////////////////////////// MAX WIDTH //////////////////////////////////////
//1187
@include MQ(XLXL) {
	.mobile-show{
		display: none;
	}

}
//1088
@include MQ(XL) {
	
}

//960
@include MQ(LL) {

	
}
//768
@include MQ(MM) {
	.workbench-video-container{
		iframe{
			width:100% !important;
		}
	}

	.workbench-listings-main-page{
		margin-top:1rem !important;
	}
	.mobile-hide{
		display: none !important;
	}
	.mobile-show{
		display: block !important;
	}

	.header-layout{
		border-bottom:none !important;
		margin-bottom: -1rem;

		.header-logo-text{
			font-size:4vw !important;
			.header-logo-rugged{
				font-size:6vw !important;
			}
		}
		
	}
	.popout-menu{
		display: block !important;
	}

	.text-container{
		text-align: center;
		.text-block-image{
			display: none;
		}
		.text-paragraph{
			margin: auto;
		}
	}

	.hero-headline{
		line-height:1.15;
		margin-bottom:1rem;
	}
	.price-tag{
		text-align: center;
	}

	footer{
		.column{
			min-height: auto !important;
		}
			ul{
				text-align: center;
			}
		
		.footer-left{
			font-size: 3rem !important;
			.footer-rugged{
				font-size: 3rem !important;
			}
	}

}
.header-not-popout{
	z-index:15;
	position: relative;
}



}
//767
@include MQ(PIXEL) {
	
}
//650
@include MQ(SM) {
	
}
//480
@include MQ(SS) {

	header{
		.header-layout{
			.header-logo-text{
				font-size:9vw !important;
				.header-logo-rugged{
					font-size:12vw !important;
				}
			}
		}
	}
	
}