.popout-menu{
    position:fixed;
    visibility: hidden;
    top:0;
    bottom:0;
    width:100%;
    right:-600px;
    max-width:600px;
    background-color:black;
    z-index:99;
    transition-duration:1s;
    padding:4rem 1rem;

    .menu-trigger{
        display:flex;
        justify-content: right;
        color:$color-10;
        font-size:3rem;
    }
    .menu-trigger-in-popout{
        padding-right:1rem;
        display:block !important;
        text-align:right;
        float:right;
    }

    .popout-menu-container{
        position:relative;
        height:100%
    }
    .sub-menu-back-target{
        display:none;
    }
    .sub-menu-back{
        display:block;
        text-align:center;
        font-size:3rem;
        color:$color-10;

        i{
            float:left;
            margin-left:2rem;
        }
        
    }
    .popout{
        li{
            padding:.75rem 0;

            a{
                color:$color-10;
                text-transform: uppercase;
                padding:.75rem;
            }
        }

        
        .sub-menu{
            position:absolute;
            top:0;
            background-color:black;
            border:1px solid gray;
            height:100%;
            width:100%;
            right:-600px;
            transition-duration: 1s;
            visibility: hidden;
        }
        .sub-menu-is-open{
            right:0 !important;
            transition-duration:1s;
            visibility: visible;
        }
        

        .menu-item-has-children > a{
            
                &:after{
                    font-family:"FontAwesome";
                    content:"\f054";
                    // font-size:1.3rem;
                    margin-left:0.5rem;
                }
        }
        


    }

}

.popout-is-open{
    transition-duration:1s;
    transform: translateX(-600px);
    visibility: visible;
}

.popout-background{
    position:absolute;
    z-index: 95;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.55);
    transition-duration:1s;
}
.popout-background-target{
    transition-duration:1s;
}