.popout-menu{
    position:fixed;
    top:0;
    bottom:0;
    width:100%;
    right:-600px;
    max-width:600px;
    background-color:black;
    z-index:99;
    transition-duration:1s;
    padding:4rem 1rem;

    .menu-trigger{
        display:flex;
        justify-content: right;
        color:$color-10;
        font-size:3rem;
    }
    .menu-trigger-in-popout{
        padding-right:1rem;
    }

    .popout{
        li{
            padding:.75rem 0;

            a{
                color:$color-10;
                text-transform: uppercase;
                padding:.75rem;
            }
        }
    }

}

.popout-is-open{
    transition-duration:1s;
    transform: translateX(-600px);
}