
//Partials
@import 'partials/_layout.scss';
@import 'partials/_mixin.scss';
@import 'partials/_variables.scss';

// Bulma Framework - Variables
$primary: #6191d1;
$danger: #8d141a;
$column-gap: 1.75rem;

$yellow:       #c59522;
$green:        #5c9f83;
       


// Bulma Framework
@import "../bulma/sass/utilities/_all";
@import "../bulma/sass/layout/_all";
@import "../bulma/sass/components/_all";
@import "../bulma/sass/elements/_all";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/grid/_all.sass";

@import 'media-queries.scss';
@import 'general.scss';

@import 'header.scss';
@import 'blocks/blocks.scss';
@import 'popout.scss';
@import 'workbench-single.scss';
@import 'footer.scss';


