.listing-container{


    .workbench-listing{
        width: 100%;
        padding: 2rem 0;
        margin:auto;
        background-color: whitesmoke;
        border-radius: 5px;
        margin-bottom:0.5rem;

       .listing-starting-label, .listing-starting-price{
           display: inline-block;
       }

       .listing-starting-price{
           margin-left:0.2rem;
           font-weight:bold;
           color: #cd591b;
       }

       .listing-starting-price:before{
           content:"$";
       }



        a{
            color:black;
            font-weight:bold;
        }

        img{
            max-height: 200px;
            border-radius: 5px;
        }

    }
    .workbench-listing:nth-child(odd){
        background-color: #222220;
        color: white;

        a{color:white}
    }
}