.workbench-video-container{
    margin: 2.5rem auto 3rem auto;


    .workbench-video-headline{
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .workbench-video-subtitle{
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        font-weight: 450;
        margin-bottom: 1.5rem;
    }
    iframe{
        width: 50%;
        display: block;
        margin: auto;
        min-height: 14rem;
    }
}