// colors
$color-1: #4E66F8; // Blue
$color-2: #F37831; // Orange
$color-3: #585C75; // Navy
$color-4: #9DAAE8; // LT Purple
$color-5: #D4D4DC; // LT Grey
$color-6: #6EC58A; // Green
$color-7: #FECD51; // Yellow
$color-8: #4651D0; // Bright Blue

$color-9: #6493ff; // new blue

$lp-color: #f9e06b; // yellow
